<h1>Listado de Todos</h1>
<br>
<br>
<div class="row">
	<div class="col-md-6">
			<p align="center">No Completados</p>		
			<% (@todos.select {|todo| todo.completed == false}).each do |no_cmpl| %> 
			<p align="center"> <%= no_cmpl[:description]  %> </p>
			<% end %>
	</div>
	
	<div class="col-md-6">
			<p align="center">Completados</p>		
			<% (@todos.select {|todo| todo.completed == true}).each do |no_cmpl| %> 
			<p align="center"> <%= no_cmpl[:description]  %> </p>
			<% end %>
	</div>
</div>